/* Adding vars for colors. */
:root {
    --primary-color:  #1f2833;
    --secondary-color: #66fcf1;
    --third-color: rgb(121, 139, 142);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    
    color: var(--primary-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  /* Adding styling to header */
  header {
    padding: 20px 35px;
    background-color: #1f2833;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
 

  }

  /* Styling to the h1 tag */
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(137, 23, 138, 0.797);
    
  }

  /* anchor tags getting rid of text underline */
  header a {
    text-decoration: none;
    color: var(--secondary-color);
    
  }

  header nav {
  
    margin: 9px 0;
  }

  /* flexing the nav to place items side by side */
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  /* Applies spacing to rach list item in the header */
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    padding: 5px 5px;
    
  }

  /* hover style to nav bar to change color */
  header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 30px;
    text-shadow: none;
  }

  /* .first p {
    color: #66fcf1;
    text-align: right;
  
  } */

  footer {
    background: black);
    width: 100%;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  footer h2{
    color: var(--secondary-color);
    font-size: 25px;
    margin: 0;
  }

  footer div {
      line-height: 2;
      text-align: right;
  }


  footer a {
      font-size: 20px;
      color: var(--secondary-color);
  }



  /* added image to hero page */
.hero-image {
    background-image: url('../assets/images/CMYK_1.png');
    /* background-size: cover; looks better without this */
    background-position: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 75px;
     
}



/* Adding padding to the left side of Section titles */
section {
    padding-left: 50px;
}

.hero-text {
    font-size: 15px;
    text-align: right;
}

/* Updated flex class */
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.section-title {
  font-size: 50px;
  color: #66fcf1;
  padding-right: 25px;
  display: inline-block;
  border-right: 3mm ridge var(--secondary-color);
  justify-content: center;
  
  
}


/* About Me Styles */
/* Added padding top and bottom instead using of using sections */
.intros {
    background-color: var(--primary-color);
    padding-bottom: 150px;
    padding-top: 150px;
}

.intro {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Added padding to separate text from border */
.intros p {
    color: var(--secondary-color);
    padding-left: 5.5%;
}

.img > img {
    height: 250px;
    
}

.img {
    padding: 10px;
}

.intro:last-child {
    border-bottom: none;
}

.bio {
    padding: 20px;
}


/* Styling to the Work Section */
.show-work {
    background-color: var(--primary-color);
    padding-top: 150px;
    padding-bottom: 150px;
}

/* container to hold the boxes */
.flex-container{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}
.flex-item {
    background: var(--secondary-color);
    padding: 5px;
    width: 300px;
    height: 100%;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin-right: 20px;
    
}

/* Test pic for page */
/* .flex-item.run-buddy {
    background-image: url(./images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     */
    
    


#img-click {
    background-image: url(./images/hero-bg.jpg)
}

#img-click-seo {
    background-image: url(./images/horiseon.PNG);
    
}

#img-click-ph1 {
    background-image: url(./images/sunset.png);
}

#img-click-ph2 {
    background-image: url(./images/CMYK__RGB.png);
}

.img-click-1 {
    background-size: cover;
    width: 100%;
    display: block;
    height: 250px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    
    
}


.project-info {
  background-color: var(--secondary-color);
  padding: 5px 10px 10px 5px;
  position: absolute;
  margin-bottom: 20px;
  font-size: 25px;
  color: var(--primary-color);
  
  
}




/* Added hover over images */
.flex-item.flex-item.run-buddy:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 30px;
    text-shadow: none;
}


/* Contact styles */


/* Added padding to contact section */
.contact {
    background-color: var(--primary-color);
    padding-top: 150px;
    padding-bottom: 100px;
}

/* Added some padding around the hover */
.contact a {
    color: var(--secondary-color);
    font-size: 35px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
}

/* Added hover to contact links */
.contact a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 30px;
    text-shadow: none;
}

.contact p {
    color: var(--secondary-color);
    font-size: 35px;
    
}


.second h2 {
    color: var(--primary-color)
}

/* Media query for smaller desktops */
@media screen and (max-width: 980px) {
    header {
        padding: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        
    }

    header nav ul li a {
        font-size: 200;
    }

    footer h2, footer div {
        text-align: center;
        width: 100px;
    }

    .section-title {
        width: 45%;
    }

    .intros {
        width: 100%;
    }

    .intros, .bio {
        text-align: center;
    }

    .show-work {
        flex: 0 70%;
    }

    .contact {
        flex: 0 80%;
        text-align: center;
    }


}

@media screen and (max-width: 768) {
    section {
        padding: 30px 15px;

    }

    header nav ul {
        margin-top: 20%;
        width: 100%;
        justify-content: center;
    }
}

@media  and (max-width: 575px) {
    header {
        padding: 0;
        justify-content: center;
        position: relative;
    }


    header h1 {
        width: 100%;
        text-align: center;
    }
}