/* Adding vars for colors. */
:root {
    --primary-color:  #1f2833;
    --secondary-color: #66fcf1;
    --third-color: rgb(121, 139, 142);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    
    color: var(--primary-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  /* Adding styling to header */
  header {
    padding: 20px 35px;
    background-color: #1f2833;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
 

  }

  /* Styling to the h1 tag */
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(137, 23, 138, 0.797);
    
  }

  /* anchor tags getting rid of text underline */
  header a {
    text-decoration: none;
    color: var(--secondary-color);
    
  }

  header nav {
  
    margin: 9px 0;
  }

  /* flexing the nav to place items side by side */
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  /* Applies spacing to rach list item in the header */
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    padding: 5px 5px;
    
  }

  /* hover style to nav bar to change color */
  header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 30px;
    text-shadow: none;
  }

  /* .first p {
    color: #66fcf1;
    text-align: right;
  
  } */

  footer {
    background: var(--primary-color);
    width: 100%;
    padding: 35px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  footer h2{
    color: var(--secondary-color);
    font-size: 25px;
    margin: 0;
  }

  footer div {
      line-height: 2;
      text-align: right;
  }


  footer a {
      font-size: 20px;
      color: var(--secondary-color);
  }

  /* section {
    padding: 200px;
  } */


  /* added image to hero page */
.hero-image {
    background-image: url('../assets/images/CMYK_1.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 75px;
     
}

.hero-img {
    background-image: url('../assets/images/kung-fu.jpg');
}

section {
    padding-left: 50px;
}

.hero-text {
    font-size: 15px;
    text-align: right;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
}

.section-title {
  font-size: 50px;
  color: #66fcf1;
 
  padding-right: 25px;
  display: inline-block;
  border-right: 3mm ridge var(--secondary-color);
  justify-content: center;
  
  
}


/* About Me Styles */
.intros {
    background-color: var(--primary-color);
    padding-bottom: 150px;
    padding-top: 150px;
}

.intro {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.intros p {
    color: var(--secondary-color);
}

.intro:last-child {
    border-bottom: none;
}

.bio ()

.intro-img img {
    flex: 1 12px;
    margin-right: 20px;
}


.show-work {
    background-color: var(--primary-color);
    padding-top: 150px;
    padding-bottom: 150px;
}

/* Contact styles */

.contact {
    background-color: var(--primary-color);
    padding-top: 150px;
    padding-bottom: 100px;
}

.contact a {
    color: var(--secondary-color);
    font-size: 20px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
}

.contact a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 30px;
    text-shadow: none;
}

.contact p {
    color: var(--secondary-color);
}


.second h2 {
    color: var(--primary-color)
}